{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h1>Reset Your Password</h1>
    {% if validlink %}
        <p>
            please enter your password twice
        </p>
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Chnage My Password"></p>
        </form>
    {% else %}
    <p>
        The Password reset link was invalid. Possibly because, it already been used, please request a new password reset request.
    </p>
    {% endif %}
{% endblock %}